.slider::-webkit-slider-thumb {
  z-index: 99;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
}

.slider::-moz-range-thumb {
  z-index: 99;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
}
.slider::-webkit-slider-runnable-track {
  background-color: #000000;
}
